.container {
    padding: 15px;
}

.titulo {
    font-size: 40px;
    font-family: monospace;
}

.contenido {
    font-size: 20px;
    font-family: monospace;
    margin-top: 20px;
}

.link {
    color: red;
}